/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Cleaning Services
Version:	1.1
Assigned to:	Alex Zaymund
Primary use:	Cleaning Services
-------------------------------------------------------------------*/

/* FONTS*/
/* @import url('../fonts.googleapis.com/css_e398df80.css');

@import url('../fonts.googleapis.com/css_135328ff.css'); */


@import url('../fonts/font-awesome/css/font-awesome.min.css');
@import url('../fonts/flaticon/flaticon.css');


/* PLUGIN CSS */
@import url('../plugins/bootstrap/css/bootstrap-rtl.css');
@import url('../plugins/isotope/isotope.css');
@import url('../plugins/validation/validation-2.2.min.css');
@import url('../plugins/owl-carousel/owl.carousel.css');
@import url('../plugins/owl-carousel/owl.transitions.css');
@import url('../plugins/owl-carousel/owl.theme.css');
@import url('../plugins/prettyphoto/css/prettyPhoto.css');
@import url('../plugins/loader/css/loader.css');
@import url('../plugins/datetimepicker/jquery.datetimepicker.css');
@import url('../plugins/animate/animate.css');


/* MAIN CSS */
@import url('normalize.css');
@import url('blog.css');
@import url('theme.css');
@import url('responsive.css');


/*@import url('debugging.css');*/

@font-face{
    font-family: 'JFFlat-Regular';
    src: url('../fonts/jozoor/JFFlat-Regular.woff') format('woff'),
         url('../fonts/jozoor/JFFlat-Regular.ttf') format('truetype'),
         url('../fonts/jozoor/JFFlat-Regular.svg#JFFlat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

